$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';
@import "themeColors";
$themeFont: verdana, arial, sans-serif;

body {
  font: $themeFont;
  color: $bodyColor;
  background-color: $themeColor-Light;

  h1, h2 {
    color: $themeColor-dark;
  }

  .app {
    text-align: center;
    margin-top: 160px;
  }
}
